.allLink {
  text-decoration: none;
  color: var(--vinaup-green);
  font-size: 1.2rem;

  @media (max-width: 400px) {
    display: none;
  }
}

.seeAllLinkRoot {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  display: inline-block;
}