.stickySummary {
  position: sticky;
  top: 80px;
  border: 1px solid var(--vinaup-blue-link);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.discountIconWrapper {
  border-radius: 4px;
  display: flex;
}

.promoInput {
  border-bottom: 1px solid var(--mantine-color-gray-5);
  border-radius: 0;
  height: auto;
  min-height: unset;
  font-size: 1rem;
}

.summaryTitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--vinaup-blue-link);
}

.promoText {
  color: var(--vinaup-blue-link);
  font-weight: 500;
  font-size: 1rem;
}

.summaryLabel {
  font-size: 1rem;
  color: var(--mantine-color-dimmed);
}

.summaryValue {
  font-size: 1rem;
  font-weight: 600;
}

.summaryDiscountValue {
  font-size: 1rem;
  font-weight: 600;
  color: var(--vinaup-blue-link);
}

.totalLabel {
  font-weight: 600;
  font-size: 1.125rem;
}

.totalValue {
  font-weight: 700;
  color: var(--vinaup-soft-crimson);
  font-size: 1.25rem;
}

.termsText {
  font-size: 1rem;
}

.termsLink {
  font-size: 1rem;
  color: var(--vinaup-blue-link);
  text-decoration: underline;
}

.checkoutButton {
  font-size: 1rem;
}