.tourCard {
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--vinaup-white, #fff);

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }

  .linkWrapper {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 8 / 5;
    background-color: var(--vinaup-soft-gray, #f5f5f5);
    border-radius: 0 0 16px 16px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

    .image {
      object-fit: cover;
    }
  }

  .content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    .title {
      color: var(--vinaup-purple);
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 12px;
      margin-top: 8px;
    }

    .footer {

      .price {
        font-weight: 500;
        color: var(--vinaup-black, #333);
        font-size: 1.125rem;
      }
    }
  }
}