.scrollWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
  min-width: 0;
  position: relative;
  z-index: 10;
}

.scrollContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }
}

.scrollButton {
  margin: 0 0.25rem;
  color: #666;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.categoryPill {
  border-radius: 0.5rem;
  font-weight: 500;
  // flex-shrink: 0;
  white-space: nowrap;

  @media (max-width: 48rem) {
    font-size: 0.75rem;
    height: 30px;
    padding: 0 12px;
  }
}
