.link {
  text-decoration: none;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  @media (max-width: 48rem) {
    margin-top: 1rem;
  }
}

.control {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 40px;
}